* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  font-family: "deja vu", sans-serif;
  width: 1180px;
  height: 100vh;
  display: flex;
  margin: 0 auto;
}

.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.service {
  width: 30%;
  color: white;
  background-color: #cf222d;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.service-img {
  background-image: url(../img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
  width: 100%;
}

img {
  width: 100%;
}

.service:hover {
  background-color: #f2f2f2;
  color: #cf222d;
}

.service .info {
  padding: 20px;
}

.service .info div {
  margin: 25px 0;
}

.main-text {
  height: 84px;
  overflow: hidden;
}

.see-more {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 1024px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 768px;
  }

  .service {
    width: 45%;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    width: 480px;
  }

  .service {
    width: 100%;
  }

  .main-text {
    font-size: 18px;
  }

  .service div:last-child {
    font-size: 18px;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    width: 375px;
  }

  .main-text {
    font-size: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .main-text {
    font-size: 22px;
  }
}
